<div id="<%= dom_id instituica %>">
  <p>
    <strong>Nome:</strong>
    <%= instituica.nome %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= instituica.telefone %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= instituica.cep %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= instituica.logradouro %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= instituica.numero %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= instituica.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= instituica.cidade %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= instituica.estado %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= instituica.cnpj %>
  </p>

</div>
